<!DOCTYPE html>
<html lang=”en”>
<head>
    {% load static %}
    <link href="{% static 'favicon.ico' %}" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'styles/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'styles/front.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    {% block content %}
    <h1>Welcome Back</h1>
    <div class = 'box'>
    <p>Already have an account? <a href="{% url 'signup' %}">Sign up</a></p>
    <form method='POST'>
        {% csrf_token %}
        {% for field in form %}
        <p>
            {{ field.label_tag }}<br>
            {{ field }}<br>
            {% for error in field.errors %}
              <p style="color: red">{{ error }}</p>
            {% endfor %}
            {% if field.help_text %}
              <p><small style="color: grey">{{ field.help_text }}</small></p>
            {% endif %}
          </p>
        {% endfor %}
        <input type="submit" value="Submit">
        <!--<input type="text" id="email" name="email" value="{{ email_address }}"><br>
        <button id="loginBut"><A href="FrontPage.html">Login</A></button>
        -->
    </form>
  </div>
    {% endblock %}
</body>
</html>