@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
#dailyLogDiv > section.focused {
  outline: 5px auto -webkit-focus-ring-color;
}

body.dailyLog #dailyLogDiv {
  display: block;
}

body.monthlyLog #monthlyLogDiv {
  display: block;
}

body.dailyLog #futureLogDiv,
body.dailyLog #monthlyLogDiv,
body.futureLog #dailyLogDiv,
body.futureLog #monthlyLogDiv,
body.monthlyLog #futureLogDiv,
body.monthlyLog #dailyLogDiv {
  display: none;
}

body.futureLog #futureLogDiv {
  display: grid;
}

#monthlyLogDiv,
#futureLogDiv {
  margin-left: 250px;
  padding-top: 10px;
}

#monthlyLogDiv ul {
  list-style-type: none;
}

#monthlyLogDiv li {
  font-family: literata;
  font-size: 20px;
  color: #2c5684;
}

#monthlyLogDiv .position-relative {
  margin-top: -100px;
}

#monthlyLogDiv hr {
  margin-right: 30px;
}

body.error #dailyLogDiv,
body.error #futureLogDiv,
body.error side-bar {
  display: none;
}

body.error #error {
  display: block !important;
}

future-logs {
  display: block;
  border-bottom: 3px solid black;
}

future-logs:nth-child(odd) {
  border-right: 3px solid black;
}

future-logs .month {
  text-align: center;
  color: #2c5684;
  word-break: break-all;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, minmax(200px, auto));
  grid-gap: 0;
  border-top: solid black;
}

future-logs .item {
  color: #2c5684;
  border-bottom: 3px solid black;
  /*border-top: 1px solid black;*/
  word-break: break-all;

  /* padding: 30px;*/
}

/** futue log div **/
