.grid-container {
    width: 90vw;
    margin: 0 auto;
    height: 90vh;
    display: flex;
    border: 2px solid #00000066;
}
.sidebar {
    width: 30%;
    height: 100%;
    background-color: gray;
    position:relative;
    padding-top: 40px;
    overflow-y: scroll;
}
.sidebar_hide{
    width:0%;
}
.content{
    width: 30%;
    height: 100%;
    background-color: white;
    position:relative;
}
.content_full{
    width:100%;
}